.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
  padding: 1.2rem;
  background: var(--primary);
  color: var(--text-over-primary);
  border-radius: 0.8rem;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}

.menuLink:hover {
  filter: brightness(50%);
}
